:root{
    --primary-color: #FFFFFF;
    --secondary-color: #F5F7DC;
    --alternative-color: silver;

    --success: #0CCE6B; /*#157145*/
    --warning: #F8C537; /*#F56416*/
    --error: #ED254E; /*E3170A*/ /*#EF271B*/

    --light-grey: #312F2F;
    --mid-grey: #22181C; /*#0F110C*/
    --dark-grey: #0C0C0C;
    --dark: #000000;

    --shadow: 0px 2px 6px 0px rgba(94, 89, 89, 0.321);
}
*, *::before, *::after{
    margin: 0;
    padding: 0;
    font-family: Inter;
    font-weight: 500;
    box-sizing: border-box;
}
html, body{
    min-height: 100%;
    min-height: 100dvh;
}

body{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    min-height: 100dvh;
    background-color: var(--primary-color);
}

main{
    width: 100%;
    display: flex;
    justify-content: center;
}

/* p,span,b,h1,h2,h3,h4,h5,h6,i{
    white-space: nowrap;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
}
b{
    font-weight: 600;
} */

main>section{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    .Container{
        /* border: 1px solid red; */
        width: clamp(80%, 10rem, 20rem);
        height: clamp(90%, 5rem, 80%);

        form{
            width: 100%;
            height: 100%;
            background-color: #FFFFFF;
            box-shadow: var(--shadow);
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding: 1rem;

            .box{
                /* border: 1px solid red; */
                

                &:nth-child(1){
                    pointer-events: none;
                    display: flex;
                    justify-content: center;
                    height: 10rem;
                    background-color: #FFFFFF;

                    input{
                        width: 100%;
                        outline: none;
                        border: none;
                        border-bottom: 1px solid rgb(230, 230, 230);
                        height: auto;
                        padding-right: 2.5rem;
                        align-self: flex-end;
                        background-color: #FFFFFF;
                        font-size: 2rem;
                    }
                }

                &:nth-child(2){
                    flex-grow: 1;
                    display: flex;
                    /* flex-wrap: wrap; */
                    flex-direction: column;

                    .row{
                        /* border: 1px solid red; */
                        display: flex;
                        justify-content: space-between;

                        button{
                            width: 100%;
                            height: 4rem;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            cursor: pointer;
                            border: none;
                            outline: none;
                            background-color: #FFFFFF;
                        }

                        &:nth-child(1){
                            button{
                                p>span{
                                    color: #FF1B1C;
                                }
                            }
                        }

                        &:nth-child(2){
                            button{
                                    &:nth-child(4){
                                        p>span{
                                        color: #FF1B1C;
                                    }
                                }
                            }
                        }

                        &:nth-child(3){
                            button{
                                    &:nth-child(4){
                                        p>span{
                                        color: #FF1B1C;
                                    }
                                }
                            }
                        }

                        &:nth-child(4){
                            button{
                                    &:nth-child(4){
                                        p>span{
                                        color: #FF1B1C;
                                    }
                                }
                            }
                        }

                        &:nth-child(5){
                            button{
                                &:nth-child(4){
                                    p{
                                        background-color: #FF1B1C;
                                        width: 3rem;
                                        height: 3rem;
                                        border-radius: 5rem;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        color: #FFFFFF;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}